.main-panel {
  height: calc(100vh - 210px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  margin-bottom: 24px;
}

.card {
  width: 500px;
  max-width: 90%;
  height: 500px;
  border-radius: 5px;
  background-color: var(--card);
  box-shadow: 3px 3px 20px -3px rgba(0,0,0,0.25);
  padding: 50px;
}

.card header {
  font-size: 26.52px;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border);

  button {
    background-color: transparent;
    border: none;
    font-size: 26.52px;
    position: relative;
    top: -3px;
    cursor: pointer;
    transition: .3s all ease;
    color: #9f9d9f;
    padding: 0 !important;
  }

  button:hover {
    transform: rotate(90deg);
    color: $black;
  }
}

.card .card-body {
  padding: 0;
  height: 95%;
  overflow-y: scroll;
  overflow-x: visible;
  &::-webkit-scrollbar {
    display: none;
}
}

.card .card-body .card-list-item {
  position: relative;
}
.card .card-body .card-list-item button {
  padding-left: 10px;
}
.card .card-body .card-list-item button:hover + .item-menu,
.card .card-body .card-list-item > .item-menu:hover {
  display: block;
  animation: fadein 0.3s forwards linear;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body.dark {
  .card .card-body .card-list-item > .item-menu {
    color: #fff;
    background-color: rgba(#514580,0.85);
    a:hover {
      background-color: rgba(0,0,0,0.2);
    }
  }
}
.card .card-body .card-list-item > .item-menu {
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  right: 29px;
  top: 24px;
  color: #fff;
  background-color: rgba(#fff,1);
  width: 120px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 3px 3px 20px -3px rgba(0,0,0,0.25);
  a {
    background-color: transparent;
    transition: 0.3s all ease;
    display: block;
    padding: 15px 20px;
    cursor: pointer;
  }
  a:first-child {
    background-color: transparent;
    transition: 0.3s all ease;
    display: block;
    padding: 15px 20px;
    margin-top: -2px;
  }
  a:hover {
    background-color: rgba(0,0,0,0.03);
  }
}




.card .card-list .card-list-item > div {
  padding: 25px 0;
}

.card .card-list .card-list-item {
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);

  a {
    color: var(--text);
    position: relative;
    top: 2px;
    opacity: .5;
    transition: .3s all ease;
    width: 100%;
    padding: 25px 0;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: var(--text);
    opacity: .5;
    transition: .3s all ease;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

}

section.card:last-child:not(:first-child) {
  transform: translateX(-50%);
}

section.card:nth-last-child(2) {
  transform: translateX(-60%) scale(0.9);
  transition: .3s all ease;
  opacity: .8;
  mask: linear-gradient(to right, rgba(255,255,255,0.1) 10%,rgba(255,255,255,1) 100%);

  * {
    pointer-events: none;
  }
}

section.card:nth-last-child(2):hover {
  transform: translateX(-60%) scale(0.91);
  opacity: 1;
  mask: linear-gradient(to right, rgba(255,255,255,1) 10%,rgba(255,255,255,1) 100%);
}

section.card:nth-last-child(3) {
  transform: translateX(-120%);
  display: none;
}

section.card:nth-last-child(4) {
  transform: translateX(-120%);
  display: none;
}
@media only screen and (max-width: 880px) {
  section.card:nth-last-child(2) {
    transform: translateX(0);
    display: none;
  }

  section.card:last-child:not(:first-child) {
    transform: translateX(0);
  }
}

.dark .card header {
  border-bottom: 1px solid rgba(#544984,1);

  button:hover,
  h1 {
    color: rgba(#fff,0.6);
  }

  button {
    color: rgba(#fff,0.3);
  }
}
@media only screen and (max-width:500px) {
  .card {
    padding: 30px;
  }
}
