footer.footer {
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    flex-direction: row;
    li[disabled] {
      a {
        background-color: rgba(#222,0.14);
        display: inline-block;
        height: 80px;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgba(#fff,0.20);
        font-weight: 100;
        cursor: not-allowed;
        i {
          margin-bottom: 5px;
          font-size: 20px;
        }
      }
    }
    li {
      text-align: center;
      margin-left: 1px;
      position: relative;
      a {
        background-color: rgba(#222,0.14);
        display: inline-block;
        height: 80px;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--card);
        font-weight: 100;
        cursor: pointer;
        transition: 0.3s all ease;
        i {
          margin-bottom: 5px;
          font-size: 20px;
        }
      }
      a:hover {
        background-color: rgba(#222,0.30);
      }
    }
    li:first-child {
      margin-left: none;
    }
    li:first-child a,
    li:first-child span {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    li:last-child a,
    li:last-child span {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}


@media only screen and (max-width: 650px) {
  footer.footer {
    ul li a,
    ul li span {
      background-color: transparent;
      width: auto;
      min-width: 70px;

    }
  }
}
