footer.footer {
  height: 81px;
  width: 90%;
  margin: 0 auto;

  ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    li {
      text-align: center;
      margin-left: 1px;
      position: relative;
    }

    li a,
    li span {
      background-color: rgba(#222,0.14);
      display: inline-block;
      height: 80px;
      width: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: rgba(#fff,0.20);
      font-weight: 100;
      cursor: not-allowed;

      i {
        margin-bottom: 5px;
        font-size: 20px;
      }
    }

    li a {
      background-color: rgba(#222,0.14);
      color: var(--card);
      cursor: pointer;

      &:hover {
        background-color: rgba(#222,0.30);
      }
    }

    li:first-child {
      margin-left: none;
    }

    li:first-child a,
    li:first-child span {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    li:last-child a,
    li:last-child span {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
@media only screen and (max-width: 650px) {
  footer.footer ul li {
    width: 25%;

    a,
    span {
      width: auto;
    }
  }
}


/* DARK */
footer.footer {
  ul li a {
    background-color: rgba(#000,0.15);
    color: rgba(#fff,0.6);
  }
  ul li span {
    background-color: rgba(#000,0.15);
    color: rgba(#fff,0.2);
  }
  ul li a:hover {
    background-color: rgba(#000,0.25);
    color: rgba(#fff,0.6);
  }
}
