header.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 25px;
color: $white;
height: 80px;
width: 100%;

svg {
     width: 25px;
     height: 25px;
     fill: #fff;
     display: inline-block;
     vertical-align: middle;
     position: relative;
     top: -2px;
   }

   #clock #hour,
   #clock #min {
     transition: ease all .5s;
     transform-origin: center;
   }

   #clock #min {
     transform: rotate(var(--min));
   }

   #clock #hour {
     transform: rotate(var(--hour));

   }

span.icon-cog {
font-size: 25px;
}

.settings-container {
transition: .3s all ease;
}

.settings-container:hover {
transform: rotate(90deg);
}

span.logo-letter {
  display: inline-block;
  vertical-align: middle;
font-size: 25px;
margin-left: 10px;
position: relative;
font-weight: 100;
opacity: 0;
left: 10px;
transition: .3s all ease;
pointer-events: none;
}

span.logo-letter.one {
transition: .3s all ease;
}

span.logo-letter.two {
transition: .3s .1s all ease;
}

span.logo-letter.three {
transition: .3s .2s all ease;
}

span.logo-letter.four {
transition: .3s .3s all ease;
}
.logo-container a {
  color: #fff;
}

.logo-container:hover {
span.logo-letter {
opacity: 1;
left: 0;
}
}

.search-container form {
input {
background-color: transparent;
border: none;
color: $white;
font-size: 18px;
font-weight: 100;
position: relative;
top: -3px;

&::placeholder {
color: $white;
}
}

button {
font-size: 25px;
background-color: transparent;
border: none;
color: $white;
cursor: pointer;
}
}
}
// settings
div.settings-row {
  padding: 10px 0;
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;



    input[type="number"] {
      width: 50px;
      border: none;
      text-align: right;
      font-size: 18px;
      appearence: text;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      appearence: none;
      display: none;
    }

}
