.card.timer {
  min-height: 200px;
  .card-body {
    h1.timer {
      font-size: 83.47px;
      text-align: center;
      margin-top: 25px;
    }
  }
}

.card.timer .card-body {
  text-align: center;
}
