body.swal2-shown {
  #root {
    filter: blur(25px);
  }

  .swal2-container.swal2-shown {
    background-color: rgba(#222,0.3);
  }

  .swal2-modal.swal2-show {
    padding: 50px !important;
    border-radius: 5px;
    box-shadow: 3px 3px 20px -3px rgba(0,0,0,0.25);
    background-color: var(--card);
    min-height: auto !important;
  }

  .swal2-title {
    font-family: 'Heebo';
    font-weight: 100;
    font-size: 26.52px;
    color: var(--text);
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: left;
    border-bottom: 1px solid var(--border);
  }

  .swal2-cancel.swal2-styled,
  .swal2-confirm.swal2-styled {
    padding: 0 !important;
    background-color: transparent !important;
    color: var(--text);
    opacity: .6;
    transition: ease all .5s;
    font-size: 35px;
    margin: 15px 30px 0;
  }

  .swal2-cancel.swal2-styled:hover,
  .swal2-confirm.swal2-styled:hover {
    opacity: 1;
  }
}

body.swal2-shown {
  .sweet-warning {
    .swal2-title {
      text-align: center;
    }
  }
}

/* DARK */
body.dark {
  .swal2-container.swal2-shown {
    background-color: rgba(#222,0.5);
  }

  .swal2-modal.swal2-show {
    background-color: var(--card) !important;
  }

  .swal2-title {
    color: rgba(#fff,0.6);
    border-bottom: 1px solid rgba(#544984,1);
  }

  .swal2-cancel.swal2-styled:hover:before,
  .swal2-confirm.swal2-styled:hover:before {
    opacity: .6;
  }
}
@media only screen and (max-width:500px) {
  body.swal2-shown .swal2-modal.swal2-show {
    padding: 30px !important;
  }
}
