a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

input[type='text'] {
  appearance: none;
}

html {
  background-image: url('../images/poly.png');
  background-size: cover;
  background-position: center;
}

body {
  line-height: 1;
  font-family: 'Heebo';
  min-width: 100vw;

}
@keyframes backgroundAnimation {
  0% {
    background-position: 9% 0;
  }

  50% {
    background-position: 92% 100%;
  }

  100% {
    background-position: 9% 0;
  }
}

#root {
  background: linear-gradient(146deg, rgba(247,152,29,0.75), rgba(227,17,96,0.67), rgba(104,121,227,0.67), rgba(112,93,188,0.67), rgba(103,188,227,0.67), rgba(62,204,142,0.67));
  background-size: 1200% 1200%;
  animation: backgroundAnimation 60s ease infinite;
  min-height: 100vh;
}

body.disco #root {
  animation: backgroundAnimation 2s ease infinite;
}

body.no-anim #root {
  background: linear-gradient(146deg, rgba(100,110,182,0.75), rgba(112,100,163,0.67));
  animation: none;
}

body.dark #root {
  background: rgba(#000,0.30);
}

.header + div {
  padding-bottom: 25px;
}


button {
  outline: none !important;
}
